.ticker-containerr {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ticker {
    display: flex;
    width: 120vw;
    animation: ticker 30s linear infinite;
}

@keyframes ticker {
    0% {
        transform: translateX(5vw);
    }

    50% {
        transform: translateX(-25vw);
    }

    100% {
        transform: translateX(5vw);
    }
}

@media (max-width: 768px) {
    .ticker {
        width: 220vw;
        animation: ticker-mobile 15s linear infinite; 
    }
}

@keyframes ticker-mobile {
    0% {
        transform: translateX(5%);
    }

    50% {
        transform: translateX(-60%); 
    }

    100% {
        transform: translateX(5%);
    }
}

.ticker:hover {
    animation-play-state: paused;
}

.view1 {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

@media (max-width: 768px) {
    .preorder {
        right: 0 !important;
    }

    .dollar {
        left: 0 !important;
    }

    .hemi {
        height: 140% !important;
    }
    .hand-image{
        width: 85% !important;
    }
    .hand-image-box{
        width: 180% !important;
        height: 100% !important;
        display: flex;
        align-items: flex-end;
    }
}


.square-container {
    width: auto;
}


@media screen and (max-width: 480px) {
    .square-container {
        aspect-ratio: 1/1;
        align-items: flex-start
    }
    
}
