.ticker-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.ticker {
    display: flex;
    width: 120vw;
    animation: ticker 30s linear infinite;
}

@keyframes ticker {
    0% {
        transform: translateX(5vw);
    }
    50% {
        transform: translateX(-25vw);
    }
    100% {
        transform: translateX(5vw);
    }
}

.ticker:hover {
    animation-play-state: paused;
}